@import "/src/assets/variables/colors.scss";

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

div,
label {
    margin-bottom: 10px;
}
input {
    border: solid 3px #38546d;
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
}
input:focus-within {
    -webkit-box-shadow: 0px 0px 18px 4px rgba(20, 145, 255, 0.48);
    -moz-box-shadow: 0px 0px 18px 4px rgba(20, 145, 255, 0.48);
    box-shadow: 0px 0px 18px 4px rgba(20, 145, 255, 0.48);
}
.password_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marks {
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 62px;
}

.gray {
    background-color: $common-color;
}

.red {
    background-color: $error-color;
}

.yellow {
    background-color: $medium-color;
}

.green {
    background-color: $success-color;
}
