@import "/src/assets/variables/colors.scss";

.conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.marks {
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 62px;
    background-color: $common-color;
}

.gray {
    background-color: $common-color;
}

.weak {
    .marks:first-child {
        background-color: $error-color;
    }
}
.weak-long {
    .marks {
        background-color: $error-color;
    }
}

.medium {
    .marks:nth-child(-n + 2) {
        background-color: $medium-color;
    }
}

.strong {
    .marks:nth-child(-n + 3) {
        background-color: $success-color;
    }
}
